# =========================================================
# GLOBAL
# =========================================================

TZ=America/Montreal

PUID=1000
PGID=1000

MEDIA_ROOT=
DOCKER_ROOT=


# =========================================================
# HOME ASSISTANT
# =========================================================

HOMEASSISTANT_MEM_LIMIT=1g


# =========================================================
# JELLYFIN
# =========================================================

JELLYFIN_MEM_LIMIT=2g

JELLYFIN_CONFIG=
JELLYFIN_CACHE=

MEDIA_MOVIES=
MEDIA_SHOWS=

# =========================================================
# KOMGA
# =========================================================

KOMGA_MEM_LIMIT=1g
